@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=PT+Serif:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html, body {
    position: relative;
    height: 100%;
    min-height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 270px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1500px;
    background-color: aquamarine;

}

h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: right;
      
}

.navigation {
    display: flex;
    list-style: none;  
    
}

.navigation li {
    flex: 1 1 100%;
    
}

.navigation a {
    display: block;
    color: navy;
    padding: 3px;
    text-decoration: none;
    border: 1px solid #000;
    width: 100px;
    text-align: center;
  

}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;

}

.contact {
    text-align: center;
    background-color: aqua;
}

.instructors  {
    text-align: right;
    background-color: aqua;
    color: #000;
}
 


.men {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: aqua;
}
 .men img {
    width: 300px;
    border:  10px solid aqua;
    padding: 10px;
        
 }
.men h5 {
    position: absolute;
    top: 5px;
    right: 5px;
    
}

.map {
    width: 350px;
    margin: 0 auto;
    display: block;
    float: right;

}

form {
    float: left;
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr;
    margin:  0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr ;
    
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;

}

legend {
    padding: 1rem;
    color: navy;
    font-size: 1.8em;
}

label, input, button, select, textares {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 0.8rem;
}

input[type="checkbox"] {
    width:22px ;
    height: 22px ;
    vertical-align: bottom ;
}

button {
    margin: 8rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
}
    
button:hover {
    background-color: darkcyan;


}

.map {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height:0;
    top: 350px;

   

}

.info {
    position: relative;
    text-align: center;
    
}
.map iframe{
    right:10px;
    top: -10px;
    height:100%;
    width:100%;
    position: absolute;
    
}


.hero {
    position: relative;
    margin-top: 1rem;
}
.hero img {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.hero article {
    position: absolute;
    bottom: 10px;
    right: 5px;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    background-color: navy;
    color: #fff;
    opacity: .7;
}

.hero h1 {
    position: absolute;
    top: 30px;
    right: 100px;
    color: #cbd604;
    opacity: .9;
    border: 0.5px sol #151602;
}

.hero article img {
    width: 150px;
    height: auto;
    float: left;
}

 h2  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.box {
    display: flex;
   }

.box img { 
    width: 210px;
    position: relative;
}

.adventure h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .river img {
    display: inline-flex;
    width: 130px;
    
}




footer {    
    position: absolute;
	bottom: 0;
	margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

    
.social{
    text-decoration:none;
    width: 5px;
    display: flex;
    flex-direction: row;
    
}