@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=PT+Serif:wght@700&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    margin: 0;
    width: 700px;
    color: white;
    text-align: right;
    padding: 10px;

}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    margin: 1rem;
    font-size: 1.1rem;
    color: navy;
    text-align: center;
}

form{
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;

}

.question {
    align-items: center;
    grid-template-columns: .5fr;
    margin:  1rem 0;
    margin-bottom: 20px;
}


label {
    display: grid;
    font-weight: bold;
    text-align: left;
    padding-right: 1rem;
}

input, textarea,  select {
    
    padding: 10px;
    font-size: 1.1rem;
}
 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    
 }

 select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
 }

input[type="text"] {
    width: 100%;
    padding:  10px 20px;
    border: 1px solid #ccc;
    height: 22px ;
    vertical-align: bottom ;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #ccc;
    border: none;
    border-radius: 0.5rem;
    padding: 10px 20px;
    
}
    
button:hover {
    background-color: darkcyan;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
}

.questiom img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 0 1 auto;
    flex-shrink: 0;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align:center ;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}